rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /admins/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /photos/{photoId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /reviews/{reviewId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /menuItems/{itemId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /deletions/{deletionId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
